<body style="background: #F6F6F9">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color:#F6F6F9;padding-top:20px;color:#333333;width:100%;font-family: arial;"
  class="m_-578686285709180796background_main">
  <tbody>
    <tr>
      <td valign="top" style="margin:0 auto; max-width: 600px;display:block;" class="m_-578686285709180796sm_full_width">
        <div style="margin:0 auto;padding:30px 15px 40px 15px;display:block;box-sizing:border-box" class="m_-578686285709180796sm_no_padding">
          <table cellspacing="0" cellpadding="0" border="0" style="width:100%;color:#333333">
            <tbody>
              <tr>
                <td style="box-sizing:border-box">
                  <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td style="font-size: 14px;font-family: HelveticaNeue;">
                          <a target="_blank" href="https://Example.com/"><img height="30" src="https://example-web-asset.s3.us-west-1.amazonaws.com/images/logo.png" alt="example.cpom" style="margin:0 0 15px 0;"></a>
                          <div style="border:1px solid #E0E0E0; margin-bottom: 10px;clear: both; background: #FFFFFF; border-radius: 6px; padding: 50px;">
                            <div style="padding: 0px;font-family: HelveticaNeue-Bold; font-size: 26px; color: #323232; letter-spacing: 0;margin: 0px; text-align: left">Reset your password?</div>
                            <p style="">
                                Hi <%- name %>,
                            </p>
                            <p style="">
                                We’ve received a forgot password request for your account. Please click on the button below, and we’ll help you reset your password. If you changed your mind, ignore the email and the link will expire after 1 hour.
                            </p>

                            <a href="<%- server %>/views/forgot_password?token=<%- token %>" style="display: inline-block;background-color: #6545CC;padding: 8px 25px;border-radius: 22px;text-decoration: none;margin: 14px 0;color: #FFf;font-weight: bold;box-shadow: 2px 3px 4px #eaeaea;"> Reset password </a>
                            <div><a style="font-size:12px;color:#323232" href="<%- server %>/views/forgot_password?token=<%- token %>">Or click here</a> </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div style="font-family: HelveticaNeue; font-size: 12px; color: #AAAAAA; letter-spacing: 0; text-align: center; line-height: 18px;">
                            2020 Example
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</body>
